.imgbg {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.img {
  width: 90%;
}

.heading {
  font-size: 1.5rem;
}

.text {
  font-size: 1rem;
  width: 100%;
}

.title {
  font-size: 1.2rem;
}

.r {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5rem;
}

.c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footImg {
  width: 60%;
  float: right;
}

.layout {
  margin-top: 3rem;
}
